body{
    background-image: url("images/青春.jpg")
}
h1{
    color: red;
    text-align: center;
    font-size: 60px
}
.center{
    text-align: center;
    font-family: 华文楷体,楷体;
    font-size: 30px;
}
h3{
    text-align:right;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: red;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: none;
}
a:active{
    color: rgb(129, 142, 17);
    text-decoration: none;
}